* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
}

.container {
  width: 80%;
  max-width: 710px;
}

.intro {
  background: #23424A;
  color: white;
  padding: 14.8em 12.2em;
}

.intro-content > h1 {
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 1em
}

.intro-content > p {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 31.54px;
  margin-bottom: 5em;
}

.cta-btn {
  font-size: 2.1rem;
  text-decoration: none;
  color: #23424A;
  background: #38CFD9;
  padding: .76em 2.28em;
  border-radius: 31.5px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}